name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  GOTOOLCHAIN: local
  MISE_EXPERIMENTAL: 1

jobs:
  ci:
    name: CI
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up mise
        uses: jdx/mise-action@v2

      - name: Run CI
        run: mise run ci

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: structyl-${{ matrix.os }}
          path: structyl*
